n8n Workflows/Automation of Restaurant Reservations with AI on WhatsApp and Google Sheets/Automation of Restaurant Reservations with AI on WhatsApp and Google Sheets.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "668904212970806",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "fb5e3fba-424c-4f4e-bf19-133c9e337513",
      "name": "Send message",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        576,
        448
      ],
      "webhookId": "750581ca-8153-4d15-85bb-72af25176a37",
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "43bb5b11-ed66-4240-8561-18332c581bd8",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        -464,
        448
      ],
      "webhookId": "7de2c19b-818e-4e24-a2cb-f107a1be6fc6",
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=Role\nyour role is to act as a reservation agent for The carnival all the buffet. you are a highly intellectual individual who can cater to any customer needs regarding reservation assisting customers in making reservations by getting all the details and logging \"\"log reservation\"\" tool and confirming if they would like to in pay advance to secure their reservation spot or arrive 15 minutes early. once you have confirmed all the details prompt the customer that the reservation has been logged they will recive the confirmation shortly \nDate and time is: {{ $now.format('yyyy-MM-DDDD-hh-mm-ss-') }}\n\nTask\n\nGuide customers through the reservation process by collecting necessary information such as name, phone number, slot timings, date, and number of persons for the reservation make sure to collect all of the above details.Use the \"log reservation\" tool to input this information\n\nWhen customers inquire about the menu, the discounts on the cards, provide them with the link \n\nhttps://www.instagram.com/p/DJKBhCatQ1Y/?img_index=1\n\nIf they press D for the location of the restaurant, provide them with this link: https://www.google.com/maps/place/The+Carnival+All+Day+Buffet/@31.5217381,74.3486342,17z/data=!3m1!4b1!4m6!3m5!1s0x3919053a9b6bc1fb:0xf473ee386cffadaa!8m2!3d31.5217381!4d74.3512091!16s%2Fg%2F11thhhd98r?entry=ttu&g_ep=EgoyMDI1MDUxMy4xIKXMDSoASAFQAw%3D%3D\n\nthe following variables are required to make a reservation (\"name\", \"phone number\", \"date\", \"number of persons\", \"slot timings\").\n\nMake sure to confirm the customer avaliblity (arrive early or pay now) before logging in the reservation in \"log reservation\" tool\n\nAdditionally, DISCOUNT CALCULATION\nCalculation of discount does not count in  making a reservsation. calulating discount is a differetn part of your job not not combine it with logging reservations \n\nwhen calculating discount show all eligible debit-card names as a numbered list from ( the details have been provided below)\n\nInstruct the guest to reply with the number of their chosen card from ( the details have been provided below)\n\nWhen they send party size and card choice (gather both details in a single message) \n\nApply the given discount to the base price (2499) to get the discounted price.\n\nAdd 5% tax on the original base price (not the discounted price)\n\nMultiply the final per-head price (after discount + tax) by the number of people to get the total cost ( respect the discount cap on the cards)\n\nFormula (total_cost = ((2499  (1 - discount_rate)) + (2499 * 0.05)) * num_people) \n\nReturn only the final amount (hide intermediate math).\n\nmake sure your first message is like this:\n\nWelcome to The Carnival All Day Buffet.\n\nType A for Reservation,\n\nType B to get the Menu, Discount Information & Slot Timings,\n\nType C  for Calculation of the Discount on the given Bank Cards,\n\nType D to get the google pin/location of the restaurant,\n\nRules\n\nAlways return phone numbers as a 12-digit string beginning with \"92\". If the number starts with \"0\", drop the 0 and prepend \"92\". If it already starts with \"92\", leave it unchanged.\"\nFORMAT_PHONE = phone.replace(/[^0-9]/g,\"\").replace(/^0/,\"92\").replace(/^92/,\"92\") example:\"923480010872\"\n\nCollect the following details from the customer: name, phone number, slot timings, date, number of persons if any one of the variable is missing prompt the customer to provide it for you and log them in \"log reservation\" make sure to log the details first and then send the relevant message.\n\ntell the customer their request have been logged and they will receive their confirmation shortly\n\nAlways set the status to \"Pending\" if the customer has confirmed the reservation \"Pending\" and if the customer has opted to pay in advance, set the status to \"Paid\" no other status is valid and will not go through.\n\nWhen you ask the customer for reservation details (name, phone number, date, number of persons, slot timings), you MUST always display the available slot timings as part of your message. The available slot timings are:\n\"12:00 PM-1:30 PM\n1:45 PM-3:15 PM\n3:30 PM-5:00 PM\n5:15 PM-6:45 PM\n7:00 PM-8:30 PM\n8:45 PM-10:15 PM\n10:30 PM-12:00 PM\"\nNever ask for slot timings without showing the customer this list in your message.\n\nTool\nOnce you have all the details for the reservation log them in \"log reservation\"\nyou also have a \"calculator\" tool to calculate the discounts on the card \n\nEXAMPLES \n\nQ: hey \n\nA:  Welcome to The Carnival All Day Buffet.\n\nType A for Reservation,\n\nType B to get the Menu, Discount Information & Slot Timings,\n\nType C  for Calculation of the Discount on the given Bank Cards,\n\nType D to get the google pin/location of the restaurant,\n\nQ: A\n\nA: it seems like you like to make a reservation please provide the following details in a single message \n\nname \n\nphone number \n\ndate \n\nnumber of persons\n\nslot timings. please select the number: (1-7)\n\"12:00 PM-1:30 PM\n1:45 PM-3:15 PM\n3:30 PM-5:00 PM\n5:15 PM-6:45 PM\n7:00 PM-8:30 PM\n8:45 PM-10:15 PM\n10:30 PM-12:00 PM\"\n\nQ: \"\"\n\nA:Thank you for the details.  \n\nI will log the following reservation request:  \n\nName: \"\"\n\nPhone Number: \"\"  \n\nSlot Timing: \"\"\n\nDate: \"\" \n\nNumber of Persons: \"\"\n\nPlease confirm if all the details are correct before I proceed to submit your reservation request.  \n\nAdditionally, would you like to arrive 15 minutes early before the reservation slot time, or would you prefer to pay in advance to secure your reservation spot?\n\nQ: yes confirm i will arrive early \n\nA: Your reservation has been logged successfully you will recive the confirmation message shortly. If their is anything else i can help you with please feel free to ask \n\n\nNotes\n\nensure that you do not ask too many repetitive questions \n\nthe per-head price for the restaurant is 2499\n\nWhen calculating disounts on the given cards provide the final amount do not show the math\n\nIf a query falls outside reservation management or the customer asks for a human, redirect the customer to a human representative for further support. have them call the same WhatsApp number on the sim.\n\nMaintain a friendly, courteous, and professional tone\n\nhave a spartan tone and aviod any emojis be professional\n\nHere are the debit cards details:\nMeezan Bank\n\n25% Discount on Cards:\n• Visa Infinite Debit Card\n• Mastercard World Debit Card\n\nDiscount Cap: PKR 2,000\n\n20% Discount on Cards:\n• Visa Platinum Aura Card\n• Mastercard Platinum Debit Card\n• Visa Platinum Debit Card\n\nDiscount Cap: PKR 2,000\n\n15% Discount on Cards:\n• Visa Women Debit Card\n• Mastercard Titanium Debit Card\n\nDiscount Cap: PKR 2,000\n\n10% Discount on Cards:\n• Visa Gold Debit Card\n• Mastercard Classic Debit Card\n• Visa Silver Debit Card\n\nDiscount Cap: PKR 2,000\n\nDubai Islamic Bank\n\n50% Discount on Cards:\n• Visa Signature\n\nDiscount Cap: PKR 3,500\n\n30% Discount on Cards:\n• Visa Ayaan\n\nDiscount Cap: PKR 2,000\n\nZindigi (JS Bank)\n\n25% Cash Reward Terms & Conditions:\n• Zindigi customers: 25% cash reward, up to PKR 2,000 per month.\n• Non-Zindigi customers: 25% cash reward, up to PKR 500 (one-time).\n• Applicable on QR/Till ID payments at Zindigi RAAST merchants.\n• Cash reward will be posted on the next working day.\n\nAllied Bank\n\n40% Discount on Cards:\n• Premium Debit\n\nDiscount Cap: PKR 4,000\n\n20% Discount on Cards:\n• Platinum Debit\n• Titanium Debit\n\nDiscount Cap: PKR 2,000\n\nSamba Bank\n\n50% Discount on Cards:\n• Samba Gold Mastercard\n\nDiscount Cap: PKR 2,500\n\nGolootlo\nFlat 10% Off on 1st and 2nd slots only."
        }
      },
      "id": "e02cede3-1e27-4b42-b7e3-ec94859b98de",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        160,
        448
      ],
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 2000,
          "temperature": 0.5
        }
      },
      "id": "e0afbefb-3053-4e2b-a0d8-b2de41b19f1f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        144,
        608
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1oG6mCFReg7CRgwjcnnSTSfy7u1TblEXVLuj3B_ElfiY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oG6mCFReg7CRgwjcnnSTSfy7u1TblEXVLuj3B_ElfiY/edit?usp=drivesdk",
          "cachedResultName": "Carnival crm portal"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oG6mCFReg7CRgwjcnnSTSfy7u1TblEXVLuj3B_ElfiY/edit#gid=0",
          "cachedResultName": "Reservation"
        },
        "columns": {
          "value": {
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', `The date should be in the following format \"2025-06-09\" `, 'string') }}",
            "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}",
            "Guests": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Guests', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Timestamp": "={{ $now.format('yyyy-MM-dd-hh-mm')}}",
            "Time slot ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Time_slot_', `Time slot should be in the following format \"3:30 PM – 5:00 PM\"`, 'string') }}",
            "CustomerName ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CustomerName_', ``, 'string') }}",
            "ReservationID": "={{ `RES-${$now.setZone('Asia/Karachi').toFormat('yyLLdd-HHmm')}-${Math.random().toString(36).slice(2,8).toUpperCase()}` }}"
          },
          "schema": [
            {
              "id": "ReservationID",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "ReservationID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CustomerName ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "CustomerName ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Time slot ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Time slot ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Guests",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Guests",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "HandledBY",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "HandledBY",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Slot ID",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Slot ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Notified ",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Notified ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ReservationID"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "72a94b28-e413-4fe5-a689-f7b9b0801697",
      "name": "log reservation",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        464,
        592
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {},
      "id": "b822c189-0998-411b-b3d1-e2c6eff3e7ca",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        368,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e231ce1b-505c-4006-acca-03deecad142a",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.messages[0].type }}",
              "rightValue": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "aef7e9d7-0276-44b5-acbe-1c81475ccca9",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        -160,
        448
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Filter').item.json.messages[0].from }}"
      },
      "id": "fcecffdd-7529-4f1b-8446-43bfa1c5cd52",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        256,
        672
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "Recivesd the messages via facebook developer app you have to create a business manager and a facebook developer app and connect your whatsaoo to it it will give you the cerdentails for it \n",
        "height": 112,
        "width": 400
      },
      "id": "76d8e20d-ac0e-49b8-91b2-c259fa554798",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -672,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Filter the message based on only text you can setup any tyoe of filter here and sends it to ai agent the agent then froma reply \n",
        "height": 80,
        "width": 352
      },
      "id": "ac1e703a-aa62-42ad-9ab6-195fd71e42a6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Once the reply is formed, it routes the message back to the sender",
        "height": 80
      },
      "id": "d16113e8-db9e-4a72-9a87-64b1aff1eb3a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "OpenAIis connected for the brain's simple memory for storing conversation, and it has two tools: a calculator for calculating discounts and a google sheet doc for storing reservation details. \n",
        "height": 80,
        "width": 480
      },
      "id": "918e9ff9-80a0-4eab-972f-e29d35e6ef72",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1oG6mCFReg7CRgwjcnnSTSfy7u1TblEXVLuj3B_ElfiY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oG6mCFReg7CRgwjcnnSTSfy7u1TblEXVLuj3B_ElfiY/edit?usp=drivesdk",
          "cachedResultName": "Carnival crm portal"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oG6mCFReg7CRgwjcnnSTSfy7u1TblEXVLuj3B_ElfiY/edit#gid=0",
          "cachedResultName": "Reservation"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Confirmed"
            },
            {
              "lookupColumn": "Notified "
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "id": "78391ef4-b5bc-4a44-8f5d-ac7ff41da1c4",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -48,
        1216
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "999a6e3c-1aed-4f6c-9249-6317e53a0b9b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -272,
        1216
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "be57c9ee-4ec0-473e-8c35-ba8f907e024b",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Confirmed "
            }
          ]
        },
        "options": {}
      },
      "id": "1a78ad3b-dc32-4526-89c6-21a7777b06ec",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        192,
        1216
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "668904212970806",
        "recipientPhoneNumber": "={{ $json.Phone.toString() }}",
        "textBody": "={{ $json['CustomerName '] }}, We regret to inform you your reservation on {{ $json.Date }} at slot {{ $json['Time slot '] }} Is rejected please conider another slot time, Thank you",
        "additionalFields": {}
      },
      "id": "a37318ac-b837-4e14-b71b-7313493a9d53",
      "name": "Send message1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        416,
        1312
      ],
      "webhookId": "92d67f7b-ce29-4cbc-999d-f15a18e349a9",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1oG6mCFReg7CRgwjcnnSTSfy7u1TblEXVLuj3B_ElfiY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oG6mCFReg7CRgwjcnnSTSfy7u1TblEXVLuj3B_ElfiY/edit?usp=drivesdk",
          "cachedResultName": "Carnival crm portal"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oG6mCFReg7CRgwjcnnSTSfy7u1TblEXVLuj3B_ElfiY/edit#gid=0",
          "cachedResultName": "Reservation"
        },
        "columns": {
          "value": {
            "Date": "={{ $('Get row(s) in sheet').item.json.Date }}",
            "Notes": "={{ $('Get row(s) in sheet').item.json.Notes }}",
            "Phone": "={{ $('Get row(s) in sheet').item.json.Phone }}",
            "Guests": "={{ $('Get row(s) in sheet').item.json.Guests }}",
            "Status": "={{ $('Get row(s) in sheet').item.json.Status }}",
            "Slot ID": "={{ $('Get row(s) in sheet').item.json['Slot ID'] }}",
            "HandledBY": "={{ $('Get row(s) in sheet').item.json.HandledBY }}",
            "Notified ": "Yes",
            "Timestamp": "={{ $('Get row(s) in sheet').item.json.Timestamp }}",
            "Time slot ": "={{ $('Get row(s) in sheet').item.json['Time slot '] }}",
            "CustomerName ": "={{ $('Get row(s) in sheet').item.json['CustomerName '] }}",
            "ReservationID": "={{ $('Get row(s) in sheet').item.json.ReservationID }}"
          },
          "schema": [
            {
              "id": "ReservationID",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "ReservationID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CustomerName ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "CustomerName ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Time slot ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Time slot ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Guests",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Guests",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "HandledBY",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "HandledBY",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Slot ID",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Slot ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Notified ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Notified ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ReservationID"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "18384ae8-7258-4d82-9cf4-478a5fa0f371",
      "name": "Update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        640,
        1120
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1oG6mCFReg7CRgwjcnnSTSfy7u1TblEXVLuj3B_ElfiY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oG6mCFReg7CRgwjcnnSTSfy7u1TblEXVLuj3B_ElfiY/edit?usp=drivesdk",
          "cachedResultName": "Carnival crm portal"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oG6mCFReg7CRgwjcnnSTSfy7u1TblEXVLuj3B_ElfiY/edit#gid=0",
          "cachedResultName": "Reservation"
        },
        "columns": {
          "value": {
            "Date": "={{ $('Get row(s) in sheet').item.json.Date }}",
            "Notes": "={{ $('Get row(s) in sheet').item.json.Notes }}",
            "Phone": "={{ $('Get row(s) in sheet').item.json.Phone }}",
            "Guests": "={{ $('Get row(s) in sheet').item.json.Guests }}",
            "Status": "={{ $('Get row(s) in sheet').item.json.Status }}",
            "Slot ID": "={{ $('Get row(s) in sheet').item.json['Slot ID'] }}",
            "HandledBY": "={{ $('Get row(s) in sheet').item.json.HandledBY }}",
            "Notified ": "Yes",
            "Timestamp": "={{ $('Get row(s) in sheet').item.json.Timestamp }}",
            "Time slot ": "={{ $('Get row(s) in sheet').item.json['Time slot '] }}",
            "CustomerName ": "={{ $('Get row(s) in sheet').item.json['CustomerName '] }}",
            "ReservationID": "={{ $('Get row(s) in sheet').item.json.ReservationID }}"
          },
          "schema": [
            {
              "id": "ReservationID",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "ReservationID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CustomerName ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "CustomerName ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Time slot ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Time slot ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Guests",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Guests",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "HandledBY",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "HandledBY",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Slot ID",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Slot ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Notified ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Notified ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ReservationID"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f3266ba1-b2be-46c8-a04c-af9ab164c834",
      "name": "Update row in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        640,
        1312
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "668904212970806",
        "recipientPhoneNumber": "={{ $json.Phone.toString() }}",
        "textBody": "={{ $json['CustomerName '] }},Your reservation at {{ $json.Date }} is confirmed. Looking forward to meet you at your desired slot time  {{ $json['Time slot '] }}",
        "additionalFields": {}
      },
      "id": "fa2ce0a4-3af2-4157-8830-3252b1279bca",
      "name": "Send message2",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        416,
        1120
      ],
      "webhookId": "9ec00d01-9bb2-475a-ab90-33d540f7f41a",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "bc063fbf-34db-46b0-976b-99be846fe228",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Rejected"
            }
          ]
        },
        "options": {}
      },
      "id": "0acece4b-1e87-47fc-9d13-26a3c8b9a1e4",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "position": [
        192,
        1376
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "# AI agent workflow ",
        "height": 80,
        "width": 352
      },
      "id": "23ef9ec4-de72-4315-90ce-e642be5490c4",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#  reservation Confirmatrion workflow ",
        "height": 80,
        "width": 624
      },
      "id": "82d2b0b3-3e4e-425d-b727-3772ba42790e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This workflow has a schedule trigger; it runs on a specific time you choose it gets the data from the sheets and decides it has built-in logic if the status is confirmation not sent, it plucks all the reservations and, based on their status, sends a message to the user the if module decided if the reservation is confirmed or rejected and sends it the the relevant field. ",
        "height": 128,
        "width": 832
      },
      "id": "4327d653-595e-4cd5-b48e-8c86c507724b",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        1520
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Send message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "log reservation": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "db058814-43b8-4f90-b747-df477e63cbdb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "313c96303b0ac08b04780db75aa687d2db9bbf06d35c71c80bad9cea315c9bd6"
  },
  "id": "k8ye2DXWORdyQ8L6",
  "tags": []
}